<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Switch</title>
</head>

<body>
    <div>
        <header>
            <nav>
                <ul id="navigation" class="menu">
                    <li class="logo">
                        <a href="#"><img id="official_img" height="50" src="" alt="switch logo"></a>
                    </li>
                    <li class="item public"><a class="route-link" href="#">Home</a></li>
                    <li class="item public"><a class="route-link" href="#">About</a></li>
                    <li class="item public"><a class="route-link" href="#">Process</a></li>
                    <li class="item public"><a class="route-link" href="#">Pricing</a></li>
                    <li class="item public"><a class="route-link" href="#">Contact</a></li>
                    <li class="item private"><a class="route-link" class="route-link" href="/dashboard">Dashboard</a></li>
                    <li class="item private"><a class="route-link" href="/app">App</a></li>
                    <li class="item private"><a class="route-link" href="/my-info">My Info</a></li>
                    <li class="item button public" id="login_button"><a class="route-link" href="#">Log In</a></li>
                    <li class="item button secondary private" id="logout_button"><a class="route-link" href="#">Log Out</a></li>
                    <li class="toggle"><a href="#"><i class="fas fa-bars"></i></a></li>
                </ul>
            </nav>
        </header>
        <main>
            <!--Public pages that display info about switch-->
            <section id="switch-public" class="page">
                <h1>Public</h1>
            </section>
            <!--Private pages-->
            <section id="" class="">
                <div class="private-sidebar" id="">

                </div>
                <div id="private-content" class="">
                    <!--private - dashboard-->
                    <section id="switch-dashboard" class="page">
                        <div class="container">
                            <div class="side-container column">
                                dffdfdfd dfdsfd dfdfds fdfdsf dfdfsdf sfdsfdfs dfdsfdsdf
                                <h1>fdfdf</h1>
                                <h1>fdfdf</h1>
                                <h1>fdfdf</h1>
                                <h1>fdfdf</h1>
                                <h1>fdfdf</h1>
                                <h1>fdfdf</h1>
                                <h1>fdfdf</h1>
                                <h1>fdfdf</h1>
                                <h1>fdfdf</h1>
                                <h1>fdfdf</h1>
                                <h1>fdfdf</h1>
                                <h1>fdfdf</h1>
                                <a href="#" class="btn btn-primary mt-5" id="call-api">Ping API</a>
                            </div>
                            <div class="main-container column">
                                <h1>Dashboard</h1>
                                <h1>fdfdf</h1>
                                <h1>fdfdf</h1>
                            </div>
                        </div>
                    </section>
                    <!--private - app-->
                    <section id="switch-app" class="page">
                        <h1>App</h1>
                    </section>
                </div>
            </section>
        </main>
        <footer>

        </footer>
    </div>
    <script>
    </script>
</body>

</html>